body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;

}

header{
    position: relative;
    background-image: url('imagens/WhatsApp\ Image\ 2024-05-13\ at\ 20.08.52\ \(3\).jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 150px;

}


.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


.logo img{
    width: 150px;
}

nav ul li {
    display: inline-block;  
    margin-right: 100px; 
}
nav ul li a {
    text-decoration: none;
    color: #ffffff; 
    font-size: 24px; 
}

.btn-comprar {
    border-radius: 25px;
    width: 223px;
    height: 51px;
    background-color: #7E987C;
    color: #ffffff;
    font-size: 24px;
    border: 2px solid #ffffff;
}


nav ul li a:hover {
    text-decoration: none;
    color: #421100;
    font-size: 18px;
}

.btn-comprar:hover {
    text-decoration: none;
    color: #421100;
    font-size: 24px;
    background-color: #ffffff;
    border: 2px solid #421100;
}
